.Excerpt {
  padding-bottom: 24px;

  &-Content {
    max-height: 3em;
    transition: max-height .45s ease-out;
    overflow: hidden;
    text-overflow: ellipsis;

    &--open {
      max-height: 1000px;
    }
  }

  &-Button {
    float: right;
  }
}
