$main-anim-duration: .5s;

.SideNav {
  margin: 0 auto 0;
  z-index: 1100;
  transition:
    left    $main-anim-duration ease-out $main-anim-duration,
    right   $main-anim-duration ease-out $main-anim-duration,
    bottom  $main-anim-duration ease-out 0s,
    top     $main-anim-duration ease-out 0s
    !important;
  position: fixed;
  max-width: 1280px;
  top: 200px;
  left: 0;
  bottom: 0;
  right: 0;

  .DashboardBox {
    height: 350px;
    border: none;//1px solid #eee;
    opacity: 1;
    position: absolute;
    transition:
      left    $main-anim-duration  ease-out $main-anim-duration,
      right   $main-anim-duration  ease-out $main-anim-duration,
      height  $main-anim-duration  ease-out 0s,
      bottom  $main-anim-duration  ease-out 0s,
      top     $main-anim-duration  ease-out 0s,
      opacity .5s                  ease-out $main-anim-duration,
      z-index .1s                  ease-out 0s
      !important;
    box-shadow:
      0 1px 6px rgba(0, 0, 0, 0.12),
      0 1px 4px rgba(0, 0, 0, 0.24);

    &-Header {
      color: #333;
    }

    a:hover,
    a:active {
      text-decoration: none;
    }

    &:nth-child(1) {
      left: 3%;
      top: 0;
      right: 67%;
    }

    &:nth-child(2) {
      left: 35%;
      top: 0;
      right: 35%;
      bottom: 0;
    }

    &:nth-child(3) {
      left: 67%;
      top: 0;
      right: 3%;
    }

    &:nth-child(4) {
      left: 3%;
      top: 370px;
      right: 67%;
    }

    &:nth-child(5) {
      left: 35%;
      top: 370px;
      right: 35%;
    }

    &:nth-child(6) {
      left: 67%;
      top: 370px;
      right: 3%;
    }

    &-Item {
      &.active {
        font-weight: 700;
        > div > span {
          background-color: rgba(0,0,0,.12) !important;
        }
      }
    }

    &.display-none {
      transition: .5s ease-out 0s !important;
      opacity: 0;
    }
  }

  &.display-none {
    display: none;
  }

  &.open {//.SideNav
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100vw - 250px);
    height: 100%;
    padding: 24px;
    position: fixed;
    transition:
      left    $main-anim-duration ease-out 0s,
      right   $main-anim-duration ease-out 0s,
      bottom  $main-anim-duration ease-out $main-anim-duration,
      top     $main-anim-duration ease-out $main-anim-duration
      !important;

    & + .Content {
      margin-left: 250px;
    }

    > span {
      display: none;
    }

    .DashboardBox.open {
      z-index: 1101;
      height: 100%;
      top: 64px;
      right: 0;
      left: 0;
      bottom: 0;
      margin-bottom: 0;
      border: none;
      transition:
        left    $main-anim-duration  ease-out 0s,
        right   $main-anim-duration  ease-out 0s,
        height  $main-anim-duration  ease-out $main-anim-duration,
        bottom  $main-anim-duration  ease-out $main-anim-duration,
        top     $main-anim-duration  ease-out $main-anim-duration,
        opacity .5s                  ease-out $main-anim-duration,
        z-index .1s                  ease-out $main-anim-duration
        !important;
    }
  }
}
